
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');


.green{
    background: rgb(131,58,180);
background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.6421919109440651) 50%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.6421919109440651) 50%, rgba(252,176,69,1) 100%);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.6421919109440651) 50%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    font-family: 'Mochiy Pop One', sans-serif;

}

.background_photo{
    background-image: url("../static/background.jpg");
}

.mid_box{
    height: max-content;
}

iframe{
    width: 50%;
}

#if{
    height: 500%;
}

#logo{
    width: 100px;
}